<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
 
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="DbEntities" connectionString="metadata=res://*/DbModel.MSSQL.csdl|res://*/DbModel.MSSQL.ssdl|res://*/DbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.61.47.88;initial catalog=FEM_RENDA;persist security info=True;user id=sa;password=FEM70549797;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="PDbEntities" connectionString="metadata=res://*/PDbModel.csdl|res://*/PDbModel.ssdl|res://*/PDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.61.47.88;initial catalog=FEM_PipelinePatrol;persist security info=True;user id=sa;password=FEM70549797;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RDbEntities" connectionString="metadata=res://*/DbEntity.DbEntity.Customized.CPDC.RENDA.csdl|res://*/DbEntity.DbEntity.Customized.CPDC.RENDA.ssdl|res://*/DbEntity.DbEntity.Customized.CPDC.RENDA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.61.47.88;initial catalog=FEM_RENDA;persist security info=True;user id=sa;password=FEM70549797;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RPDbEntities" connectionString="metadata=res://*/DbEntity.DbEntity.Customized.CPDC.RENDA.P.csdl|res://*/DbEntity.DbEntity.Customized.CPDC.RENDA.P.ssdl|res://*/DbEntity.DbEntity.Customized.CPDC.RENDA.P.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.61.47.88;initial catalog=FEM_PipelinePatrol;persist security info=True;user id=sa;password=FEM70549797;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>