<div id="divSelectCCUserTreeWidget">
    <p>
        <button class="btn btn-primary" onclick="AddCCUser(); return false;">
            <i class="ace-icon fa fa-plus"></i>
            @Resources.Resource.Select
        </button>
        <button class="btn btn-success" onclick="CancelCCUserSelect(); return false;">
            <i class="ace-icon fa fa-ban"></i>
            @Resources.Resource.Cancel
        </button>
    </p>

    <div id="divSelectCCUserTreeContainer" style="min-height:200px;"></div>
</div>

<div id="divSelectedCCUserListWidget">
    <p>
        <button class="btn btn-primary" onclick="CCUserSelect(); return false;">
            <i class="ace-icon fa fa-plus"></i>
            @Resources.Resource.Create
        </button>
    </p>

    <div id="divSelectedCCUserList" style="min-height:50px;"></div>
</div>
