<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <!--ASE QAS-->
    <add name="ASEDbEntities" connectionString="metadata=res://*/ASEDbModel.csdl|res://*/ASEDbModel.ssdl|res://*/ASEDbModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.14.62.204)(PORT=1574)))(CONNECT_DATA=(SERVICE_NAME=eipcqas)));PASSWORD=vmp6RU03;PERSIST SECURITY INFO=True;USER ID=EIPC_USER&quot;" providerName="System.Data.EntityClient" />
    <!--ASE Production-->
    <!--<add name="ASEDbEntities" connectionString="metadata=res://*/ASEDbModel.csdl|res://*/ASEDbModel.ssdl|res://*/ASEDbModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.14.62.224)(PORT=1573)))(CONNECT_DATA=(SERVICE_NAME=EIPC)));PASSWORD=vmp6RU03;PERSIST SECURITY INFO=True;USER ID=EIPC_USER&quot;" providerName="System.Data.EntityClient" />-->
    <!--FPG.GuardPatrol-->
    <!--<add name="DbEntities"
      connectionString="metadata=res://*/DbModel.MSSQL.csdl|res://*/DbModel.MSSQL.ssdl|res://*/DbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.3.5;initial catalog=FEM;persist security info=True;user id=sa;password=FEM@FPG.Guard;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="GDbEntities"
      connectionString="metadata=res://*/GDbModel.csdl|res://*/GDbModel.ssdl|res://*/GDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.3.5;initial catalog=FEM_G;persist security info=True;user id=sa;password=FEM@FPG.Guard;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>-->
    <!--93-->
    <!--<add name="DbEntities" connectionString="metadata=res://*/DbModel.MSSQL.csdl|res://*/DbModel.MSSQL.ssdl|res://*/DbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FEMNEW;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EDbEntities" connectionString="metadata=res://*/EDbModel.MSSQL.csdl|res://*/EDbModel.MSSQL.ssdl|res://*/EDbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FEM_EquipmentMaintenance_New;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="DbEntities" connectionString="metadata=res://*/DbModel.MSSQL.csdl|res://*/DbModel.MSSQL.ssdl|res://*/DbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.115.141.54;initial catalog=FEM;persist security info=True;user id=sa;password=minitabadmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EDbEntities" connectionString="metadata=res://*/EDbModel.MSSQL.csdl|res://*/EDbModel.MSSQL.ssdl|res://*/EDbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.115.141.54;initial catalog=FEM_EquipmentMaintenance;persist security info=True;user id=sa;password=minitabadmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="GDbEntities" connectionString="metadata=res://*/GDbModel.csdl|res://*/GDbModel.ssdl|res://*/GDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.5.54;initial catalog=FEM_GuardPatrol;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TDbEntities" connectionString="metadata=res://*/TDbModel.csdl|res://*/TDbModel.ssdl|res://*/TDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.5.54;initial catalog=FEM_TruckPatrol;persist security info=True;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PDbEntities" connectionString="metadata=res://*/PDbModel.csdl|res://*/PDbModel.ssdl|res://*/PDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.5.54;initial catalog=FEM_PipelinePatrol;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TankDbEntities" connectionString="metadata=res://*/TankDbModel.MSSQL.csdl|res://*/TankDbModel.MSSQL.ssdl|res://*/TankDbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.5.54;initial catalog=FEM_TankPatrol;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ADbEntities" connectionString="metadata=res://*/ADbModel.csdl|res://*/ADbModel.ssdl|res://*/ADbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.5.54;initial catalog=FEM_AbnormalNotify;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--FPTC-->
    <!--<add name="DbEntities" connectionString="metadata=res://*/DbModel.MSSQL.csdl|res://*/DbModel.MSSQL.ssdl|res://*/DbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.4.106;initial catalog=FEM;persist security info=True;user id=sa;password=Sql2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="FPTCDbEntities" connectionString="metadata=res://*/DbEntity.Customized.FPTC.DbEntity.csdl|res://*/DbEntity.Customized.FPTC.DbEntity.ssdl|res://*/DbEntity.Customized.FPTC.DbEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.4.13;initial catalog=TPFPTC;persist security info=True;user id=efpg_XD2100;password=1!qaz2@wsx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TDbEntities" connectionString="metadata=res://*/TDbModel.csdl|res://*/TDbModel.ssdl|res://*/TDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.4.106;initial catalog=FEM_TruckPatrol;persist security info=True;user id=sa;password=Sql2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--RENDA-->
    <!--<add name="DbEntities" connectionString="metadata=res://*/DbModel.MSSQL.csdl|res://*/DbModel.MSSQL.ssdl|res://*/DbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.61.47.88;initial catalog=FEM_RENDA;persist security info=True;user id=sa;password=FEM70549797;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PDbEntities" connectionString="metadata=res://*/PDbModel.csdl|res://*/PDbModel.ssdl|res://*/PDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.61.47.88;initial catalog=FEM_PipelinePatrol;persist security info=True;user id=sa;password=FEM70549797;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--CHIMEI.AIMS-->
    <!--<add name="DbEntities" connectionString="metadata=res://*/DbModel.MSSQL.csdl|res://*/DbModel.MSSQL.ssdl|res://*/DbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.1.139;initial catalog=FEM_AIMS;persist security info=True;user id=femdb;password=fem%6yhn;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EDbEntities" connectionString="metadata=res://*/EDbModel.MSSQL.csdl|res://*/EDbModel.MSSQL.ssdl|res://*/EDbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.1.139;initial catalog=FEM_E_AIMS;persist security info=True;user id=femdb;password=fem%6yhn;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--PSI-->
    <!--<add name="DbEntities" connectionString="metadata=res://*/DbModel.MSSQL.csdl|res://*/DbModel.MSSQL.ssdl|res://*/DbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.128.120;initial catalog=FEM;persist security info=True;user id=FEM;password=FEM@PSI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EDbEntities" connectionString="metadata=res://*/EDbModel.MSSQL.csdl|res://*/EDbModel.MSSQL.ssdl|res://*/EDbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.128.120;initial catalog=FEM_E;persist security info=True;user id=FEM;password=FEM@PSI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="ADbEntities" connectionString="metadata=res://*/ADbModel.csdl|res://*/ADbModel.ssdl|res://*/ADbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.128.120;initial catalog=FEM_A;persist security info=True;user id=FEM;password=FEM@PSI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--CIIC-->
    <!--<add name="DbEntities" connectionString="metadata=res://*/DbModel.MSSQL.csdl|res://*/DbModel.MSSQL.ssdl|res://*/DbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-HU1NLGCE4DN\SQLEXPRESS;initial catalog=FEM;persist security info=True;user id=sa;password=Patrol.Server;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EDbEntities" connectionString="metadata=res://*/EDbModel.MSSQL.csdl|res://*/EDbModel.MSSQL.ssdl|res://*/EDbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-HU1NLGCE4DN\SQLEXPRESS;initial catalog=FEM_EquipmentMaintenance;persist security info=True;user id=sa;password=Patrol.Server;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--PFG-->
    <!--<add name="DbEntities" connectionString="metadata=res://*/DbModel.MSSQL.csdl|res://*/DbModel.MSSQL.ssdl|res://*/DbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.115.141.54;initial catalog=FEM;persist security info=True;user id=sa;password=minitabadmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EDbEntities" connectionString="metadata=res://*/EDbModel.MSSQL.csdl|res://*/EDbModel.MSSQL.ssdl|res://*/EDbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.115.141.54;initial catalog=FEM_EquipmentMaintenance;persist security info=True;user id=sa;password=minitabadmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--PFG.CN-->
    <!--<add name="DbEntities" connectionString="metadata=res://*/DbModel.MSSQL.csdl|res://*/DbModel.MSSQL.ssdl|res://*/DbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.214.141.10;initial catalog=FEM;persist security info=True;user id=sa;password=minitabadmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="EDbEntities" connectionString="metadata=res://*/EDbModel.MSSQL.csdl|res://*/EDbModel.MSSQL.ssdl|res://*/EDbModel.MSSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.214.141.10;initial catalog=FEM_E;persist security info=True;user id=sa;password=minitabadmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" timeout="2880" />
    </authentication>
    <httpRuntime targetFramework="4.5" maxRequestLength="204800" executionTimeout="600" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.105.0" newVersion="1.0.105.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>